{% extends "base.html" %}

{% block title %}Available Cryptocurrencies{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <h1 class="text-center mb-3">Choose a Cryptocurrency</h1>

        <!-- Formularz wyszukiwania -->
        <div class="row justify-content-center mb-4">
            <div class="col-12">
                <form method="get" action="{% url 'crypto_list' %}">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search for a cryptocurrency...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Lista kryptowalut -->
        <ul class="list-group mt-3">
        {% for crypto in cryptos %}
            <li class="list-group-item">
                {{ forloop.counter }}. <a href="{% url 'crypto_chart' crypto %}">{{ crypto }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
